@font-face {
    src: url(/fonts/Raleway-SemiBold.ttf);
    font-family: "Raleway-SemiBold";
}

@font-face {
    src: url(/fonts/Raleway-Bold.ttf);
    font-family: "Raleway-Bold";
}

@font-face {
    src: url(/fonts/Raleway-Light.ttf);
    font-family: "Raleway-Light";
}

@font-face {
    src: url(/fonts/Raleway-ExtraLight.ttf);
    font-family: "Raleway-ExtraLight";
}

body {
    background: #333030;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    margin: 60px;
}

.buttons {
    background: #333030;
    border:solid 1px #8BBE38;
    color:#8BBE38;
    font-family: "Raleway-Light";
    font-size: 25px;
    padding: 10px 75px;
}

.buttons:hover {
    background: #8BBE38;
    color: #333030;
    cursor: pointer;
}

.buttons:active {
    transform: translateY(4px);
    box-shadow: 5px 8px 8px rgb(26, 26, 26);
}

.skills {
    font-family: "Raleway-Light";
    background-color: #608328;
    color: #333030;
    width: fit-content;
    padding: 8px;
    margin: 15px;
    border-radius: 2px;
}

.skills:hover {
    color: #8BBE38;
}

#nav-links{
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-family: "Raleway-SemiBold";
    font-size: 25px;
    letter-spacing: 3px;
    color: #8BBE38;
    padding: 25px;
    padding-top: 60px;
}

nav a:hover {
    color: #bef664;
}

.sml-triangles {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    color: rgba(75, 69, 69, 0.25);
    position: relative;
}

.big-triangles {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    color: rgba(75, 69, 69, 0.5);
    position: relative;
}

#sml-tri-up {
    border-bottom: 100px solid rgba(75, 69, 69, 0.25);
    top: 70px;
    left: 250px;
}

#sml-tri-dwn {
    border-top: 100px solid rgba(75, 69, 69, 0.25);
    top: 350px;
    right: 60px;
}

#big-tri-up {
    border-bottom: 200px solid rgba(75, 69, 69, 0.25);
    top: 10px;
    left: 180px;
    z-index: -1;
}

#big-tri-dwn {
    border-top: 200px solid rgba(75, 69, 69, 0.25);
    top: 300px;
    right: 280px;
    z-index: -1;
}

#name {
    min-width: 50%;
    color: #8BBE38;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

#chris-doyle{
    font-family: "Raleway-SemiBold";
    font-size: 45px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#tradesman {
    font-family: "Raleway-ExtraLight";
    font-size: 35px;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

#abv-fold-icon {
    max-width: 50%;
    display: flex;
    justify-content: center;
}

#abv-fold-resume-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px;
}

#abv-the-fold {
    display: flex;
    flex-wrap: wrap;
}

#chris-doyle-icon {
    width: 420px;
}